footer {
  height: 148px;

  .wrap {
    padding-top: 37px;
    max-width: 570px;
    margin: 0 auto;

    @include responsive(max-width, 768px) {
      small {
        display: block;
      }
    }
  }

  .logo {
    padding-right: 10px;

    svg {
      width: 82px;
    }
  }

}
