.navbar-default {
	background-color: transparent;
	border: none;

	.logo {

		svg {
			width: 83px;
		}
	}
}

// Hero copy

.hero {
	height: 768px;
	background-image: url('../images/hero-desktop.png');
	background-repeat: no-repeat;
	background-position: 50% 150px;
	// background-attachment: fixed;

	.wrap {
	}
}

.yellow {
	color: $vyellow;
}
