.navbar-default {
	background-color: transparent;
	border: none;

	.logo {

		svg {
			padding-top: 15px;
			width: 83px;
		}
	}
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	background-color: $white;
	border-radius: 3px;
}

.navbar-right {
	padding-right: 15px;
	padding-top: 15px;
}

.gift-card {
	padding-top: 10px;
	max-width: 150px;

	p {
		color: $dark-grey;
		font-size: 0.75em;
	}
}

// Hero copy

.hero {
	height: 768px;
	background-image: url('../images/hero-desktop.png');
	background-repeat: no-repeat;
	background-position: 50% 150px;
	// background-attachment: fixed;

	.wrap {
	}
}

.yellow {
	color: $vyellow;
}
