h1 {
	font-size: 6.25em;
	font-weight: bold;
}

h2 {
	font-size: 3.125em;
	font-weight: bold;
	color: $black;

}

h3 {
	font-size: 1.875em;
	font-weight: bold;
}

p {
	font-size: 1.25em;
	color: $black;
}