html {
	font-size: 100%;
}

body {
	background-color: $black;
	color: $white;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}

.active {
	background-color: #999999 !important;

	.icon-wrapper {

		.custom-icon {
			background-color: $vyellow;
			color: $black;
		}

	}

	p {
		color: $white;
	}
}

// Fancybox
.fancybox-bg {
	background: $mobile-grey;
}

.fancybox-content {
	height: 75%;
}


// .viega-select {
// 	ul {
// 		li:hover {
// 			background-color: #c6c6c6;
//
// 			.custom-icon {
// 			  background-color: $vyellow;
// 				color: $black;
// 			}
// 		}
// 	}
// }
